__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.git
.gitignore
db.sqlite3 # If you're not using it in Docker
media/ # Media should be handled by volumes
staticfiles/ # Staticfiles will be collected into a volume
*.swp
*.swo
*.DS_Store